*sage-jupyter2
sage-plots-for-latex.tex/
.*.tex.lock
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.sagetex.sage
*.sagetex.sage.py
*.sagetex.scmd
*.sagetex.sout
*.sagetex.scmd.tmp
*.sagetex.sout.tmp
*.synctex.gz
