first-steps.term
src/*sage-jupyter2
src/sage-plots-for-latex.tex/
src/.*.tex.lock
src/*.aux
src/*.fdb_latexmk
src/*.fls
src/*.log
src/*.pdf
src/*.sagetex.sage
src/*.sagetex.sage.py
src/*.sagetex.scmd
src/*.sagetex.sout
src/*.sagetex.scmd.tmp
src/*.sagetex.sout.tmp
src/*.synctex.gz
